@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}

body{
    background-color: cornflowerblue;
}

.wrapper{
    width: 380px;
    margin: 130px auto 0;
}

.select-btn{
    display: flex;
    padding: 0 24px;
    height: 60px;
    background-color: white;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.474);
}

ul li{
    list-style-type: none;
}

 .content{
    height: 200px;
    background-color: white;
    margin-top: 1rem;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.474);
    overflow-y: scroll;
    display: none;
}

.wrapper.active .content{
    display: block;
}

.wrapper .content .options .option{
    display: flex;
    padding: 10px;
    position: relative;
    cursor: pointer;
    align-items: center;
}

.wrapper .content .options .option:hover{
    background-color: #f2f2f2;
}

.option i{
    font-size: 25px;
    margin-right: 10px;
}

.option span{
    font-size: 18px;
    color: #333;
}

.content::-webkit-scrollbar{
    width: 7px;
}

.content::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}

.content::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
}

.content::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
}







